[Date]
date.timezone = {{ php_date_timezone }}

[PHP]
max_execution_time = {{ php_max_execution_time }}
max_input_time = {{ php_max_input_time }}
memory_limit = {{ php_memory_limit }}
post_max_size = {{ php_post_max_size }}
upload_max_filesize = {{ php_upload_max_filesize }}
