[Date]
date.timezone = {{ php5_date_timezone }}

[PHP]
max_execution_time = {{ php5_max_execution_time }}
max_input_time = {{ php5_max_input_time }}
memory_limit = {{ php5_memory_limit }}
post_max_size = {{ php5_post_max_size }}
upload_max_filesize = {{ php5_upload_max_filesize }}
